{'id': 847156565, 'timestamp': 1469721345, 'user': 'Mervat Salman', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 691696645, 'new': 731950145}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 5503, 'new': 5532}, 'title': 'Khorovats', 'comment': 'added [[Category:National dishes]] using [[WP:HC|HotCat]]', 'server_script_path': '/w'}
{'id': 847156566, 'timestamp': 1469721346, 'user': 'Jim Michael', 'server_name': 'en.wikipedia.org', 'minor': True, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 731942401, 'new': 731950146}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 11063, 'new': 11061}, 'title': 'Jacques Hamel', 'comment': '', 'server_script_path': '/w'}
{'id': 847156567, 'timestamp': 1469721346, 'user': 'Anglicanus', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 731914286, 'new': 731950148}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 4945, 'new': 4965}, 'title': 'Vincent Long Van Nguyen', 'comment': 'Undid revision 731914286 by [[Special:Contributions/120.155.17.46|120.155.17.46]] ([[User talk:120.155.17.46|talk]]) no reason provided', 'server_script_path': '/w'}
{'id': 847156568, 'timestamp': 1469721345, 'user': 'Mervat Salman', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:National dishes', 'comment': '[[:Khorovats]] added to category', 'server_script_path': '/w'}
{'id': None, 'wiki': 'enwiki', 'log_action': 'hit', 'user': '86.23.86.247', 'log_action_comment': '86.23.86.247 triggered [[Special:AbuseFilter/384|filter 384]], performing the action "edit" on [[Douglas Macmillan]]. Actions taken: Disallow ([[Special:AbuseLog/16228845|details]])', 'server_name': 'en.wikipedia.org', 'timestamp': 1469721348, 'type': 'log', 'log_id': 0, 'log_type': 'abusefilter', 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'title': 'Douglas Macmillan', 'log_params': {'log': 16228845, 'filter': 384, 'actions': 'disallow', 'action': 'edit'}, 'comment': '', 'server_script_path': '/w'}
{'id': 847156569, 'timestamp': 1469721346, 'user': 'Smallbones', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 731948705, 'new': 731950147}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 87232, 'new': 86873}, 'title': 'Bernard Madoff', 'comment': '/* Jewish "affinity fraud" */ "Most of" not in source: OR', 'server_script_path': '/w'}
{'id': 847156579, 'timestamp': 1469721348, 'user': 'Qed237', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 731949862, 'new': 731950149}, 'server_url': 'https://en.wikipedia.org', 'namespace': 10, 'bot': False, 'length': {'old': 3729, 'new': 3722}, 'title': 'Template:2016–17 Danish Superliga Regular Season table', 'comment': 'Standard', 'server_script_path': '/w'}
{'id': 847156580, 'timestamp': 1469721348, 'user': 'Boopbee', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 730255258, 'new': 731950150}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 10889, 'new': 10891}, 'title': 'Florida Gulf Coast Eagles', 'comment': 'Edited the name of the fight song to reflect the new version of the fight song.', 'server_script_path': '/w'}
{'id': 847156581, 'timestamp': 1469721349, 'user': '68.255.220.2', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 725819579, 'new': 731950151}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 6580, 'new': 6580}, 'title': 'Harry Winks', 'comment': '', 'server_script_path': '/w'}
{'id': 847156582, 'timestamp': 1469721350, 'user': 'Parsley Man', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 731925897, 'new': 731950152}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 4202, 'new': 4084}, 'title': 'African American Defense League', 'comment': "Already redundant, given the last sentence's description.", 'server_script_path': '/w'}
{'id': 847156583, 'timestamp': 1469721350, 'user': 'Cormac1cormac1', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 679593302, 'new': 731950154}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 1241, 'new': 1403}, 'title': "O'Higgins (surname)", 'comment': '/* People of the Surname (Not always related to each other */', 'server_script_path': '/w'}
{'id': 847156584, 'timestamp': 1469721350, 'user': 'Ss112', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 731948111, 'new': 731950153}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 18427, 'new': 18820}, 'title': 'Ben Lee', 'comment': '/* Promotional singles */ Added songs.', 'server_script_path': '/w'}
{'id': 847156585, 'timestamp': 1469721350, 'user': 'BlameRuiner', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 726054540, 'new': 731950155}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 1960, 'new': 2009}, 'title': 'Dmitry Dudar', 'comment': '', 'server_script_path': '/w'}
{'id': 847156586, 'timestamp': 1469721351, 'user': 'Masum Ibn Musa', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 731950123, 'new': 731950156}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 1551, 'new': 1581}, 'title': 'Ariana Marie', 'comment': 'Added {{[[Template:notability|notability]]}} tag to article ([[WP:TW|TW]])', 'server_script_path': '/w'}
{'id': 847156587, 'timestamp': 1469721352, 'user': 'BrownHairedGirl', 'server_name': 'en.wikipedia.org', 'minor': True, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 695362368, 'new': 731950157}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 4987, 'new': 4964}, 'title': 'Vasiliki Angelopoulou', 'comment': 'diffusing swimmers-by-nationlity into gendered subcats, removed: [[Category:Greek sportswomen]] using [[Project:AWB|AWB]]', 'server_script_path': '/w'}
{'id': 847156588, 'timestamp': 1469721352, 'user': 'Kvng', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 731611482, 'new': 731950158}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 767, 'new': 26}, 'title': 'Cooper Barnes', 'comment': 'convert [[WP:PROD]] to redirect', 'server_script_path': '/w'}
{'id': 847156589, 'timestamp': 1469721350, 'user': 'BlameRuiner', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:FC Slutsk players', 'comment': '[[:Dmitry Dudar]] added to category', 'server_script_path': '/w'}
{'id': 847156590, 'timestamp': 1469721352, 'user': 'Kvng', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:Unreferenced BLPs from July 2016', 'comment': '[[:Cooper Barnes]] removed from category', 'server_script_path': '/w'}
{'id': 847156591, 'timestamp': 1469721352, 'user': 'Kvng', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:All unreferenced BLPs', 'comment': '[[:Cooper Barnes]] removed from category', 'server_script_path': '/w'}
{'id': 847156592, 'timestamp': 1469721352, 'user': 'Kvng', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:All articles proposed for deletion', 'comment': '[[:Cooper Barnes]] removed from category', 'server_script_path': '/w'}
{'id': 847156593, 'timestamp': 1469721352, 'user': 'Kvng', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:BLP articles proposed for deletion', 'comment': '[[:Cooper Barnes]] removed from category', 'server_script_path': '/w'}
{'id': 847156594, 'timestamp': 1469721352, 'user': 'Kvng', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:BLP articles proposed for deletion by days left', 'comment': '[[:Cooper Barnes]] removed from category', 'server_script_path': '/w'}
{'id': 847156595, 'timestamp': 1469721352, 'user': 'Kvng', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:Articles with hCards', 'comment': '[[:Cooper Barnes]] removed from category', 'server_script_path': '/w'}
{'id': 847156596, 'timestamp': 1469721352, 'user': 'Kvng', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:1979 births', 'comment': '[[:Cooper Barnes]] removed from category', 'server_script_path': '/w'}
{'id': 847156597, 'timestamp': 1469721352, 'user': 'Kvng', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:Living people', 'comment': '[[:Cooper Barnes]] removed from category', 'server_script_path': '/w'}
{'id': 847156598, 'timestamp': 1469721352, 'user': 'MWright96', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 723898523, 'new': 731950159}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 16853, 'new': 16852}, 'title': 'Culture of London', 'comment': 'removed unused space', 'server_script_path': '/w'}
{'id': 847156599, 'timestamp': 1469721351, 'user': 'Masum Ibn Musa', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:Articles with topics of unclear notability from July 2016', 'comment': '[[:Ariana Marie]] added to category', 'server_script_path': '/w'}
{'id': 847156600, 'timestamp': 1469721351, 'user': 'Masum Ibn Musa', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:All articles with topics of unclear notability', 'comment': '[[:Ariana Marie]] added to category', 'server_script_path': '/w'}
{'id': 847156601, 'timestamp': 1469721352, 'user': 'BrownHairedGirl', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:Greek female swimmers', 'comment': '[[:Vasiliki Angelopoulou]] added to category', 'server_script_path': '/w'}
{'id': 847156602, 'timestamp': 1469721352, 'user': 'BrownHairedGirl', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:Greek swimmers', 'comment': '[[:Vasiliki Angelopoulou]] removed from category', 'server_script_path': '/w'}
{'id': 847156603, 'timestamp': 1469721352, 'user': 'BrownHairedGirl', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:Greek sportswomen', 'comment': '[[:Vasiliki Angelopoulou]] removed from category', 'server_script_path': '/w'}
{'id': 847156604, 'timestamp': 1469721352, 'user': '5.197.44.153', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 731950032, 'new': 731950160}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 10467, 'new': 10490}, 'title': 'Kara Koyunlu', 'comment': '', 'server_script_path': '/w'}
{'id': 847156605, 'timestamp': 1469721354, 'user': 'BrownHairedGirl', 'server_name': 'en.wikipedia.org', 'minor': True, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 723491011, 'new': 731950161}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 4309, 'new': 4285}, 'title': 'Kalliopi Araouzou', 'comment': 'diffusing swimmers-by-nationlity into gendered subcats, removed: [[Category:Greek sportswomen]] using [[Project:AWB|AWB]]', 'server_script_path': '/w'}
{'id': 847156606, 'timestamp': 1469721354, 'user': 'SteveJEsposito', 'server_name': 'en.wikipedia.org', 'minor': False, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 731950056, 'new': 731950162}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 7221, 'new': 7220}, 'title': 'The Fall of Colossus', 'comment': '/* Plot summary */ Corrected errant plural', 'server_script_path': '/w'}
{'id': 847156607, 'timestamp': 1469721354, 'user': 'Jbpriede', 'server_name': 'en.wikipedia.org', 'minor': True, 'type': 'edit', 'wiki': 'enwiki', 'revision': {'old': 730320727, 'new': 731950163}, 'server_url': 'https://en.wikipedia.org', 'namespace': 0, 'bot': False, 'length': {'old': 28503, 'new': 29084}, 'title': 'Solyndra', 'comment': 'Updates to $1.5B lawsuit', 'server_script_path': '/w'}
{'id': 847156608, 'timestamp': 1469721354, 'user': 'BrownHairedGirl', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:Greek female swimmers', 'comment': '[[:Kalliopi Araouzou]] added to category', 'server_script_path': '/w'}
{'id': 847156609, 'timestamp': 1469721354, 'user': 'BrownHairedGirl', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:Greek swimmers', 'comment': '[[:Kalliopi Araouzou]] removed from category', 'server_script_path': '/w'}
{'id': 847156610, 'timestamp': 1469721354, 'user': 'BrownHairedGirl', 'server_name': 'en.wikipedia.org', 'type': 'categorize', 'wiki': 'enwiki', 'server_url': 'https://en.wikipedia.org', 'namespace': 14, 'bot': False, 'title': 'Category:Greek sportswomen', 'comment': '[[:Kalliopi Araouzou]] removed from category', 'server_script_path': '/w'}
